{% extends 'base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/seefamily.css' %}" rel="stylesheet">


<div class="container mt-5">
    <h2 class="text-center mb-4 text-primary">Your Family Members</h2>
    <!-- Add this for messages -->
    {% for message in messages %}
    <div class="alert alert-success custom-alert text-center" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    {% if data %}
        <div class="table-responsive family-table">
            <table class="table table-striped table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center">First Name</th>
                        <th class="text-center">Age</th>
                        <th class="text-center">Income</th>
                        <th class="text-center">Update</th>
                        <th class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in data %}
                        <tr>
                            <td class="text-center">{{ member.firstname }}</td>
                            <td class="text-center">{{ member.age }}</td>
                            <td class="text-center">₹{{ member.income }}</td>
                            <td class="text-center">
                                <a href="{% url 'updatefamily' member.id %}" class ="btn btn-warning btn btn-sm">update</a>
                            </td>
                            <td class="text-center">
                                <a href="{% url 'deletefamily' member.id %}" class ="btn btn-warning btn btn-sm" onclick="return confirm('are u sure want to delete?')">delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="no-members">
            <p>No family members added yet.</p>
            <a href="{% url 'addfamily' %}" class="btn btn-primary">Add a Family Member</a>
        </div>
    {% endif %}
</div>

{% endblock %}
